.navigation {
  text-align: center;
  padding: 0;
  li {
    display: inline-block;
    margin: 16px;
  }
  a {
    color: #4d4d4d;
  }
}

header {
  text-align: center;
  h1 {
    margin-bottom: 36px;
    font-size: 80px;
    color: rgba(175, 47, 47, 0.15);
  }
}

